.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 40px 30px 70px;
  width: 50vw;
  min-width: 780px;

  p {
    color: #87ceeb;
  }

  p:first-of-type {
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-size: 130px;
    margin: 0;
  }

  p:nth-child(2) {
    font-size: 26px;
    margin: 18px 0;
  }

  form {
    width: 100%;

    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      input,
      textarea {
        background-color: #222932;
        border: none;
        color: #87ceeb;
        height: 50px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        outline: none;
        padding-left: 20px;
        font-family: Raleway,Arial,sans-serif;
        font-size: 15px;
      }

      input[name='username'],
      input[name='email'] {
        max-width: 300px;
        width: 50%;
      }

      input::placeholder,
      textarea::placeholder {
        color: #87ceeb;
      }

      input[name='subject'] {
        margin-top: 5px;
        max-width: 610px;
        width: 100%;
      }

      textarea[name='body'] {
        height: 250px;
        margin-top: 5px;
        max-height: 345px;
        max-width: 610px;
        min-height: 50px;
        padding-bottom: 15px;
        padding-top: 15px;
        resize: vertical;
        width: 100%;
      }

      input[type='submit'] {
        background: transparent;
        border: 2px solid #00bfff;
        color: #00bfff;
        cursor: pointer;
        height: 45px;
        margin-top: 15px;
        padding: 6px;
        text-align: center;
        transition-duration: 1s;
        max-width: 610px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        font-family: Raleway, Arial, sans-serif;

        &:hover {
          background: #00bfff;
          color: #161517;
        }
      }

      @media (max-width: 500px) {
        input {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        input[name='username'],
        input[name='email'] {
          margin-top: 5px;
          max-width: 400px;
          width: 100%;
        }

        input[name='subject'] {
          max-width: 400px;
        }

        textarea[name='body'] {
          max-width: 400px;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    @media (max-width: 500px) {
      div:nth-child(1) {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 1320px) {
    width: 100%;
  }

  @media (max-width: 991px) {
    padding: 30px 40px 30px 55px;
    min-width: 765px;
  }

  //@media (max-width: 800px) {
  //  p:first-of-type {
  //    font-size: 90px;
  //  }
  //}

  @media (max-width: 765px) {
    max-width: 765px;

    p:first-of-type {
      font-size: 105px;
    }

    p:nth-child(2) {
      font-size: 21px;
      margin: 14px 0 18px 0;
    }

    form {
      div {
        input,
        textarea {
          height: 45px;
          font-size: 14px;
        }

        textarea[name='body'] {
          min-height: 45px;
        }
      }
    }
  }

  @media (max-width: 580px) {
    p:first-of-type {
      font-size: 105px;
    }

    p:nth-child(2) {
      width: 270px;
      margin: 20px 0 21px 0;
      text-align: center;
      line-height: 30px;
    }

    //form {
    //  input,
    //  textarea {
    //    height: 45px;
    //    font-size: 14px;
    //  }
    //}
  }

  @media (max-width: 500px) {
    p:first-of-type {
      font-size: 85px;
    }

    p:nth-child(2) {
      font-size: 17px;
      margin: 18px 0 15px 0;
      width: 250px;
      line-height: 27px;
    }
  }

  @media (max-width: 320px) {
    padding: 30px 30px 30px 43px;

    p:first-of-type {
      font-size: 60px;
    }

    p:nth-child(2) {
      font-size: 15px;
      margin: 18px 0 12px 0;
      max-width: 200px;
      line-height: 24px;
    }
  }

  //@media (max-width: 460px) {
  //  p:nth-child(2) {
  //    font-size: 14px;
  //  }
  //}
}

.badInput {
  border-bottom: 2px solid #f62619 !important;
  transition-duration: 1s !important;
}

.goodInput {
  border-bottom: 2px solid !important;
  transition-duration: 1s !important;
}
