.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 30px;
  width: 50vw;

  p {
    color: #87ceeb;
  }

  p:first-of-type {
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-size: 100px;
    margin: 100px 0 20px;
  }

  p:nth-child(2) {
    font-size: 28px;
  }

  form {
    width: 100%;

    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      input,
      textarea {
        background-color: #1b242e;
        border: none;
        color: #87ceeb;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        outline: none;
        padding-left: 15px;
        font-size: 14px;
      }

      input {
        margin-bottom: 5px;
      }

      textarea {
        margin-bottom: 10px;
      }

      input[name='username'],
      input[name='email'] {
        max-width: 300px;
        width: 50%;
      }

      input::placeholder,
      textarea::placeholder {
        color: #87ceeb;
      }

      input[name='subject'] {
        margin-top: 5px;
        max-width: 610px;
        width: 100%;
      }

      textarea[name='body'] {
        height: 250px;
        margin-top: 5px;
        max-height: 345px;
        max-width: 610px;
        min-height: 50px;
        padding-bottom: 15px;
        padding-top: 15px;
        resize: vertical;
        width: 100%;
      }

      input[type='submit'] {
        background: transparent;
        border: 2px solid #00bfff;
        color: #00bfff;
        cursor: pointer;
        height: 40px;
        margin-top: 5px;
        padding-left: 6px;
        transition-duration: 1s;
        max-width: 610px;
        width: 100%;

        &:hover {
          background: #00bfff;
          color: #161517;
        }
      }

      @media (max-width: 450px) {
        input {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        input[name='username'],
        input[name='email'] {
          margin-top: 5px;
          max-width: 290px;
          width: 100%;
        }

        input[name='subject'] {
          max-width: 290px;
        }

        textarea[name='body'] {
          max-width: 290px;
        }

        input[type='submit'] {
          max-width: 290px;
        }
      }
    }

    @media (max-width: 450px) {
      div:nth-child(1) {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 1320px) {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 40px;
  }

  @media (max-width: 675px) {
    p:nth-child(2) {
      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
      }
    }
  }

  @media (max-width: 450px) {
    p:first-of-type {
      font-size: 95px;
      margin-bottom: 15px;
    }

    p:nth-child(2) {
      font-size: 20px;
    }
  }
}

.badInput {
  border-bottom: 2px solid #f62619 !important;
  transition-duration: 1s !important;
}

.goodInput {
  border-bottom: 2px solid !important;
  transition-duration: 1s !important;
}
