.map-container {
  background: #222932 !important;
  min-height: 100vh;
  width: 50vw;
  z-index: 10;
  border-left: 2px solid #222932;

  &:active {
    cursor: grabbing;
  }

  .leaflet-marker-icon {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .leaflet-control-attribution a {
    color: #004e6d;
  }

  @media (max-width: 1320px) {
    min-height: 60vh;
    width: 100%;
    border-left: unset;
    border-top: 2px solid #222932;
  }
}
