.map-container {
  min-height: 100vh;
  width: 50vw;
  z-index: 10;
  background: #0E0D10 !important;
}

@media (max-width: 1320px) {

  .map-container {
    width: 100%;
  }
  .map-container {
    min-height: 90vh;
  }
}
