{
  "presets": [
    ["env", { "useBuiltIns": "entry" }],
    "react",
    "stage-2",
    ["es2016"]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "debug": false
          }
        ]
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
