REACT_APP_GOOGLE_ANALYTIC=UA-123456789-1
REACT_APP_FULL_PAGE_LICENSE_KEY=YOUR_LICENSE_KEY_HERE

REACT_APP_URL=https://ArturW1998.github.io/Portfolio
REACT_APP_TITLE="Artur Voloshyn | Software Engineer - Official website"
REACT_APP_DESCRIPTION="The official site of the professional web developer Artur Voloshyn. Development and optimization of web applications of any complexity."
REACT_APP_KEYWORDS="Artur Voloshyn, Voloshyn, official website, website development, Application Development"
REACT_APP_AUTHOR="Artur Voloshyn"

REACT_APP_GOOGLE_SITE_VERIFICATION=2lBdB8FJDWyffXnSp1fUecgcozRr7c-hvCTpFQi8klI
