{
  "resources/assets/js/**/*.+(js|jsx|yml|yaml|ts|tsx|md|graphql|mdx)": [
    "prettier --write",
    "git add"
  ],
  "resources/assets/js/**/*.+(js|jsx|ts|tsx)": [
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "resources/assets/js/**/*.+(css|scss|sass|less)": [
    "prettier --parser scss --write",
    "stylelint --fix --syntax scss --max-warnings=0",
    "git add"
  ]
}
