{
  "**/*.+(js|jsx|yml|yaml|ts|tsx|md|graphql|mdx)": [
    "prettier --write",
    "git add"
  ],
  "**/*.+(js|jsx)": [
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "**/*.+(scss)": [
    "prettier --parser scss --write",
    "stylelint --fix --syntax scss --max-warnings=0",
    "git add"
  ]
}
