resources/assets/js/components/Portfolio/sections/CompareIp/lib/charming.min.js
resources/assets/js/components/Portfolio/sections/CompareIp/lib/anime.min.js

resources/assets/js/components/Preloader/scss/animate.min.scss
