resources/assets/js/components/Portfolio/sections/CompareIp/common/charming.min.js
resources/assets/js/components/Portfolio/sections/CompareIp/common/anime.min.js

resources/assets/js/components/Preloader/scss/common/animate.min.scss
