/* Main slideshow wrapper */
#Skills_slideshow {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      height: 100vh !important;
      margin: 0;
      position: relative;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      > svg {
        fill: #1b242e;
        position: relative;
        z-index: -1;
      }
    }
  }

  > nav span {
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    font-family: 'Flamenco', Arial, sans-serif;
    font-size: 50px;
    font-weight: normal;
    height: 50px;
    line-height: 47px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    -webkit-touch-callout: none;
    transition: opacity 0.5s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;

    &:hover {
      opacity: 1;
    }

    &.disabled {
      cursor: default;
      opacity: 0.2;

      &:hover {
        cursor: default;
        opacity: 0.2;
      }
    }

    &.next {
      right: 50%;
      -webkit-transform: translateX(120%);
      transform: translateX(120%);
    }

    &.prev {
      left: 50%;
      -webkit-transform: translateX(-120%);
      transform: translateX(-120%);
    }
  }
}

.slide {
  left: 16%;
  padding: 1em;
  position: absolute;
  right: 16%;
  text-align: center;
  top: 0;
  white-space: initial;

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    width: 100%;

    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: space-between;
      margin-bottom: 45px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      .slide-item {
        width: 15%;

        .slide-img {
          cursor: auto;
          width: 100%;
        }
      }
    }
  }

  blockquote,
  h1 {
    font-family: 'Flamenco', Arial, sans-serif;
    font-size: 3em;
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    padding-top: 3%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  h1 {
    margin-bottom: 4%;
  }

  > p {
    font-size: 0.85em;
    font-weight: bold;
    line-height: 1.5;
  }

  blockquote {
    margin: 0;
    padding: 1em 10% 0;
    position: relative;

    &:before {
      color: rgba(43, 65, 77, 0.1);
      content: '\201C';
      display: block;
      font-size: 3em;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    p {
      line-height: 1.2;
      margin: 0;
    }

    + p {
      color: rgba(43, 65, 77, 0.3);
    }
  }
}

.icon {
  display: block;
  margin: 0 auto 50px;
  max-width: 160px;
  padding-top: 3%;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 32em) {
  .slide {
    blockquote,
    h1 {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .slide {
    left: 6% !important;
    right: 6% !important;
  }
}

@media screen and (max-width: 450px) {
  .slide div div {
    margin-bottom: 25px;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .slide {
    left: 16%;
    right: 16%;

    .slide-item {
      width: 18%;
    }
  }

  #Skills_slideshow > nav span {
    background: none;
    margin-top: -25px;
    top: 50%;

    &.next {
      right: 10px;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.prev {
      left: 10px;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
