/* Set everything to take full height */

/* Main slideshow wrapper */

#Skills_slideshow {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      float: left;
      display: block;
      margin: 0;
      position: relative;
      height: 100vh !important;
      > svg {
        position: relative;
        fill: #161517;
        z-index: -1;
      }
      &:nth-child(2) > svg, &:nth-child(3) > svg {
        fill: #161517;
      }
      &:nth-child(4) > svg {
        fill: #9D9E94;
      }
      &:nth-child(6) > svg {
        fill: #E5B8AD;
      }
    }
  }
  > nav span {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    font-weight: normal;
    bottom: 30px;
    opacity: 0.8;
    font-family: 'Flamenco', Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.2;
      cursor: default;
      &:hover {
        opacity: 0.2;
        cursor: default;
      }
    }
    &.next {
      right: 50%;
      -webkit-transform: translateX(120%);
      transform: translateX(120%);
    }
    &.prev {
      left: 50%;
      -webkit-transform: translateX(-120%);
      transform: translateX(-120%);
    }
  }
}


.slide {
  position: absolute;
  top: 0;
  left: 16%;
  right: 16%;
  padding: 1em;
  white-space: initial;
  text-align: center;

  div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div{
      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      img {
        width: 15%;
      }
    }

  }
  h1, blockquote {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
    font-size: 3vw;
    padding-top: 3%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    font-family: 'Flamenco', Arial, sans-serif;
  }
  h1 {
    margin-bottom: 4%;
  }
  > p {
    line-height: 1.5;
    font-size: 0.85em;
    font-weight: bold;
  }
  blockquote {
    position: relative;
    margin: 0;
    padding: 1em 10% 0;
    &::before {
      content: '\201C';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 3em;
      color: rgba(43, 65, 77, 0.1);
      z-index: -1;
    }
    p {
      margin: 0;
      line-height: 1.2;
    }
    + p {
      color: rgba(43, 65, 77, 0.3);
    }
  }
}

.icon {
  display: block;
  padding-top: 3%;
  position: relative;
  margin: 0 auto 50px;
  width: 50%;
  max-width: 160px;
}

@media screen and (max-width: 32em) {
  .slide {
    h1, blockquote {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .slide {

    left: 6% !important;
    right: 6% !important;

    div div img{

      width: 23% !important;

    }

  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {

  .slide {

    left: 16%;
    right: 16%;

    div div img{

      width: 18%;

    }

  }

  #Skills_slideshow > nav span {
    background: none;
    top: 50%;
    margin-top: -25px;
    &.next {
      right: 10px;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    &.prev {
      left: 10px;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
