.flex {
  display: flex !important;
}

.none {
  display: none !important;
}


.Pattern {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .technologies-container {
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .technologies {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100px;
          height: 100px;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
        }
      }
    }
    .description {
      max-width: 600px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      @media (max-height: 400px) {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
       p{
         line-height: 22px !important;
       }
      }

    }
    .rotate_button {

      figure {
        margin-bottom: 30px !important;
        width: 200px;
        height: 60px;
        cursor: pointer;
        perspective: 500px;
        -webkit-perspective: 500px;

        @media (max-height: 400px) {
          margin-bottom: 10px !important;
        }

        &:hover div {
          transform: rotateX(-90deg);
        }

        div {
          height: 100%;
          transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
          transition: 0.25s;
          -webkit-transition: 0.25s;

        }
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          box-sizing: border-box;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 50px;
          font-size: 17pt;
          text-align: center;
          text-transform: uppercase;
        }
        span:nth-child(1) {
          transform: translate3d(0, 0, 30px);
          -webkit-transform: translate3d(0, 0, 30px);
        }

        span:nth-child(2) {
          transform: rotateX(90deg) translate3d(0, 0, 30px);
          -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
        }

      }
    }

  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 300px;
      @media (max-height: 400px) {
        width: 120px !important;
      }
    }
    .header-container{
      text-align: center !important;
      .header{
        display: block;
      }
    }
  }
}

@media (max-width: 500px),  (max-height: 400px) {
  .Pattern {
    .technologies-container {
      .technologies {
        margin-bottom: 10px !important;

        div div {
          background-size: 50px !important;
          width: 50px !important;
          height: 50px !important;
        }
      }
      .description {
        margin-top: 0px !important;
        margin-bottom: 20px;
        font-size: 16px !important;
        line-height: 22px;
        p{
          margin-top: 15px !important;
          margin-bottom: 5px !important;
          font-size: 17px !important;
          max-width: 300px !important;
        }
      }
    }
    .logo-container {

      img {
        width: 150px;
      }
      .logoText{
        font-size: 40px !important;
      }
      .paragraph{
        font-size: 17px !important;
        max-width: 300px !important;
      }

      .rotate_button figure {
        margin-bottom: 15px !important;
      }
    }
    .arrow {
      background-size: 40px !important;
      width: 40px !important;
      height: 40px !important;
    }
  }
}

@media (max-width: 1150px) {
  .Pattern {
    .technologies-container {
      .technologies {
        flex-direction: column;
        margin-bottom: 50px;;
      }

    }
  }
}

@media (max-height: 850px) {
  .Pattern {
    .technologies-container {

      div {
        justify-content: space-between !important;
      }

      .technologies {
        flex-direction: column;
        margin-bottom: 50px;
        div div {
          background-size: 50px !important;
          width: 50px !important;
          height: 50px !important;
        }
      }

    }

  }
}

@media (max-height: 650px) and (orientation: landscape){

  .Pattern {

    .technologies-container .description p{

      display: none !important;

    }

    .logo-container .paragraph{

      max-width: none !important;

    }

    .header{
      margin-top: 0px !important;
    }
  }

}