.flex {
  display: flex !important;
}

.none {
  display: none !important;
}

.Pattern {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;

  .technologies-container {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

    .technologies {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      div {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          height: 100px;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          width: 100px;
        }
      }
    }

    .description {
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 600px;
      padding-left: 20px;
      padding-right: 20px;

      @media (max-height: 400px) {
        margin-bottom: 10px !important;
        margin-top: 10px !important;

        p {
          line-height: 22px !important;
        }
      }
    }

    .rotate_button {
      figure {
        cursor: pointer;
        height: 60px;
        -webkit-perspective: 500px;
        perspective: 500px;
        width: 200px;

        &:hover div {
          transform: rotateX(-90deg);
        }

        div {
          height: 100%;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transition: 0.25s;
          transition: 0.25s;
        }

        span {
          box-sizing: border-box;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 17pt;
          height: 100%;
          left: 0;
          line-height: 50px;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }

        span:nth-child(1) {
          -webkit-transform: translate3d(0, 0, 30px);
          transform: translate3d(0, 0, 30px);
        }

        span:nth-child(2) {
          -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
          transform: rotateX(90deg) translate3d(0, 0, 30px);
        }

        @media (max-height: 400px) {
          margin-bottom: 10px !important;
        }
      }
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 300px;

      @media (max-width: 600px) {
        max-width: 400px;
      }

      @media (max-height: 400px) {
        width: 120px !important;
      }
    }

    .header-container {
      margin-bottom: 0;
      text-align: center !important;

      .header {
        display: block;
      }
    }
  }

  .arrow {
    margin-top: 40px !important;
  }
}

@media (max-width: 500px), (max-height: 400px) {
  .Pattern {
    .technologies-container {
      .technologies div div {
        background-size: 50px !important;
        height: 50px !important;
        width: 50px !important;
      }

      .description {
        font-size: 16px !important;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 0 !important;

        p {
          font-size: 16px !important;
          line-height: 22px !important;
          margin-bottom: 5px !important;
          margin-top: 15px !important;
          max-width: 300px !important;
        }
      }
    }

    .logo-container {
      img {
        width: 150px;
      }

      .logoText {
        font-size: 35px !important;
      }

      .paragraph {
        font-size: 17px !important;
        line-height: 24px !important;
        max-width: 225px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .arrow {
      background-size: 50px !important;
      height: 50px !important;
      margin-top: 20px !important;
      width: 50px !important;
    }
  }
}

@media (max-width: 1150px) {
  .Pattern {
    .technologies-container {
      .technologies {
        flex-direction: column;
      }
    }
  }
}

@media (max-height: 850px) {
  .Pattern {
    .technologies-container {
      div {
        justify-content: space-between !important;
      }

      .technologies {
        flex-direction: column;

        div div {
          background-size: 50px !important;
          height: 50px !important;
          width: 50px !important;
        }
      }
    }
  }
}

@media (max-height: 650px) and (orientation: landscape) {
  .Pattern {
    .header {
      margin-top: 0 !important;
    }
  }
}
