.toTopAnchor {
  background-image: url('#{$portfolio-img-path}/totop.svg');
  background-position: center;
  background-size: 40px;
  bottom: 20px;
  cursor: pointer;
  display: block;
  height: 40px;
  margin: auto;
  position: absolute;
  right: 20px;
  width: 40px;
}

@media (max-height: 500px) {
  .toTopAnchor {
    display: none !important;
  }
}
