.ip-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 160px 0 10em 0;
  max-width: 1100px;
  width: 90%;
  height: 100vh;
  h2 {
    margin: 0;
    padding: 0.5em 0 1em;
    color: #be4856;
    text-align: center;
    font-size: 4.25em;
    font-size: 4vw;
    line-height: 1;
  }
}

@media screen and (max-width: 45em) {

  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw;
  }

}
