@import './preloaderEffect';
@import 'libs/animate.min';

.transparent {
  opacity: 0 !important;
  transition-duration: 0.5s;
}

.show {
  opacity: 1 !important;
  transition-duration: 0.5s;
}

#img_loader {
  -webkit-animation: img_loader 10s linear infinite;
  animation: img_loader 10s linear infinite;
  max-width: 380px;
  min-width: 100px;
  pointer-events: none;
  width: 380px;
}

@media (max-width: 800px) {
  #img_loader {
    width: 300px;
  }
}

@media (max-height: 500px) {
  #img_loader {
    display: none;
  }
}

@media (max-width: 500px) {
  #img_loader {
    width: 230px;
  }
}
