@import "./preloaderEffect";
@import "./animate.min";

.transparent{
  transition-duration: 0.5s;
  opacity: 0 !important;
}
.show{
  opacity: 1 !important;
  transition-duration: 0.5s;
}

#img_loader{
  filter: drop-shadow(0px 0px 10px deepskyblue);
  max-width: 380px;
  min-width: 90px;
  width: 30%;
  pointer-events: none;
  -webkit-animation: img_loader 10s linear infinite;
  animation: img_loader 10s linear infinite;
}

@-webkit-keyframes img_loader {
  0% {
    filter: drop-shadow(0px 0px 10px deepskyblue)
  }
  50% {
    filter: drop-shadow(0px 0px 2px deepskyblue)
  }
  100% {
    filter: drop-shadow(0px 0px 10px deepskyblue)
  }
}

@keyframes img_loader {
  0% {
    filter: drop-shadow(0px 0px 10px deepskyblue)
  }
  50% {
    filter: drop-shadow(0px 0px 2px deepskyblue)
  }
  100% {
    filter: drop-shadow(0px 0px 10px deepskyblue)
  }
}

@media (max-height: 800px) {
  #img_loader{
    width: 50% !important;
  }
}
@media (max-height: 600px) {
  #img_loader{
    display: none;
  }
}

@media (max-width: 500px) {
  #img_loader{
    width: 75%;
  }
}
