@import './preloaderEffect';
@import 'libs/animate.min';

.transparent {
  opacity: 0 !important;
  transition-duration: 0.5s;
}

.show {
  opacity: 1 !important;
  transition-duration: 0.5s;
}

#img_loader {
  max-width: 380px;
  min-width: 90px;
  pointer-events: none;
  width: 20%;
}

@media (max-height: 800px) {
  #img_loader {
    width: 400px !important;
  }
}

@media (max-height: 600px) {
  #img_loader {
    width: 30% !important;
  }
}

@media (max-height: 500px) {
  #img_loader {
    display: none;
  }
}

@media (max-width: 500px) {
  #img_loader {
    width: 300px !important;
    margin-top: 90px;
  }
}
