.loading_page{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .loading_text {
    color: #87ceeb;
    font-size: 20px;
    text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb;
    -webkit-animation: loading_text 3s linear infinite;
    animation: loading_text 3s linear infinite;
  }
  @-webkit-keyframes loading_text {
    0% { text-shadow: 0 0 0px #87ceeb, 0 0 0px #87ceeb; }
    50% { text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb; }
    100% { text-shadow: 0 0 0px #87ceeb, 0 0 0px #87ceeb; }
  }
  @keyframes loading_text {
    0% { text-shadow: 0 0 0px #87ceeb, 0 0 0px #87ceeb; }
    50% { text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb; }
    100% { text-shadow: 0 0 0px #87ceeb, 0 0 0px #87ceeb; }
  }

}
