{
  "globals": {
    "shallow": false,
    "render": false,
    "mount": false,
    "toJson": false
  },
  "rules": {
    "global-require": "off",
    "max-len": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],

    "import/prefer-default-export": "off",

    "react/jsx-props-no-spreading": "off"
  }
}
