@mixin effects($colorActive) {
  span {
    color: $colorActive !important;
  }

  i {
    color: #5f656f !important;
  }

  li:hover i {
    color: $colorActive !important;
  }
}

.effects-normal {
  @include effects(#00bfff);
}

.effects-neocore {
  @include effects(#eec60a);
}

.effects-linkful {
  @include effects(#a3daff);
}

.effects-smsplaza {
  @include effects(#41b883);
}

.effects-abirix {
  @include effects(#f0ea42);
}

.effects-houses {
  @include effects(#ffffff);
}

.effects-welhome {
  @include effects(#e6e6e6);
}

.effects-history24 {
  @include effects(#e6e6e6);
}

.effects-smoke-zone {
  @include effects(#d40080);
}

.effects-yandex {
  @include effects(#ed2025);
}

.effects-compareIp {
  @include effects(rgba(237, 32, 37, 0.7));
}

.effects-c2corner {
  @include effects(#05f);
}

.effects-cherry {
  @include effects(#e8222d);
}

.effects-house {
  @include effects(#e6e6e6);
}

.effects-arcbazar {
  @include effects(#8f6ab7);
}

.effects-factoringVergelijken {
  @include effects(#b0576a);
}
