@mixin effects($colorActive) {
  span {
    color: $colorActive !important;
  }
  i {
    color: #5f656f !important;

    &:hover {
      color: $colorActive !important;
    }
  }
}

.effects-normal{
  @include effects(deepskyblue)
}

.effects-neocore{
  @include effects(#eec60a)
}

.effects-linkful{
  @include effects(#3c48fa)
}

.effects-smsplaza{
  @include effects(#41B883)
}

.effects-abirix{
  @include effects(#f0ea42)
}

.effects-houses{
  @include effects(white)
}

.effects-welhome{
  @include effects(#E6E6E6)
}

.effects-history24{
  @include effects(#E6E6E6)
}

.effects-smoke-zone{
  @include effects(#D40080)
}

.effects-yandex{
  @include effects(#ED2025)
}

.effects-compareIp{
  @include effects(rgba(237,32,37,0.7))
}

.effects-c2corner{
  @include effects(#003399)
}

.effects-cherry{
  @include effects(#E8222D)
}

.effects-house{
  @include effects(#E6E6E6)
}

.effects-arcbazar{
  @include effects(#8F6AB7)
}

.effects-factoringvergelijken{
  @include effects(#B0576A)
}
