@mixin stroke($color) {
  svg path {
    stroke: $color;
  }
}

.stroke-normal{
  @include stroke(#5f656f)
}

.stroke-neocore{
  @include stroke(#eec60a)
}

.stroke-linkful{
  @include stroke(#3c48fa)
}

.stroke-smsplaza{
  @include stroke(#41B883)
}

.stroke-abirix{
  @include stroke(#f0ea42)
}

.stroke-houses{
  @include stroke(white)
}

.stroke-welhome{
  @include stroke(#E6E6E6)
}

.stroke-history24{
  @include stroke(#E6E6E6)
}

.stroke-smoke-zone{
  @include stroke(#D40080)
}

.stroke-yandex{
  @include stroke(#ED2025)
}

.stroke-compareIp{
  @include stroke(rgba(237,32,37,0.7))
}

.stroke-c2corner{
  @include stroke(#003399)
}

.stroke-cherry{
  @include stroke(#E8222D)
}

.stroke-arcbazar{
  @include stroke(#8F6AB7)
}

.stroke-factoringvergelijken{
  @include stroke(#B0576A)
}

