@import 'fonts';

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0 !important;
}

.global-wrapper {
  background: #10151c;
}
