.abirix {
  background: #000;

  a {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  .abirix-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 10000;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 50px;
      width: 50px;
      margin-top: 30px;
    }

    .arrow-up {
      background-image: url('#{$portfolio-img-path}/abirix/arrow-up.svg');
    }

    .arrow-down {
      background-image: url('#{$portfolio-img-path}/abirix/arrow-down.svg');
    }

    .description {
      color: #f0ea42;
      font-family: Roboto, sans-serif;
      font-size: 25px;
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 430px;
      text-align: center;
    }

    .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .logo {
        color: #f0ea42;
        font-family: 'Alfa Slab One', cursive;
        font-size: 62px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        text-shadow: #ce8c32 4px 4px 0;
        z-index: 100;
      }
    }

    .d-flex {
      display: flex;
    }

    .d-none {
      display: none;
    }

    .info-container {
      align-items: center;

      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      box-shadow: 0 0 100px #000;
      color: #f0ea42;
      flex-direction: column;

      font-family: Roboto, sans-serif;
      font-size: 20px;
      line-height: 27px;
      justify-content: center;
      max-width: 400px;
      min-height: 220px;
      text-align: justify;
      width: 100%;
      z-index: 10000;
    }

    .tzie-small {
      font-size: 18px !important;
    }

    .tech-container {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 220px;
      width: 100%;
      z-index: 10000;

      .row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;

        div {
          background-image: url('#{$portfolio-img-path}/abirix/abirix.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 200px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .abirix {
    .info-container {
      max-width: 300px !important;
    }

    .description {
      font-size: 16px !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      max-width: 350px !important;
    }

    .row {
      width: 200px !important;
    }
  }
}

@media (max-width: 530px) {
  .abirix {
    .header {
      .logo {
        font-size: 45px !important;
      }
    }

    .row {
      width: 150px !important;
    }
  }
}

@media (max-width: 400px) {
  .abirix {
    .info-container {
      max-width: 250px !important;
    }

    .row {
      width: 240px !important;
    }
  }
}
