.Arcbazar {
  /* fallback for old browsers */
  background: #9796f0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fbc7d4), to(#9796f0));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #fbc7d4, #9796f0);

  .technologies-container {
    .technologies {
      background-image: url('#{$img-path}/arcbazar/arcbazar-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
      height: 100px;
      width: 700px;
    }

    .description {
      align-items: center;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      display: -webkit-box;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .first {
        margin-top: 40px;
      }

      .last {
        margin-bottom: 10px;
      }

      p {
        color: #000;

        font-family: 'Hammersmith One', sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 28px;
        margin-bottom: 0;

        margin-top: 0;

        max-width: 600px;
        padding-bottom: 5px;

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        text-align: center;

        width: -webkit-fit-content;

        width: -moz-fit-content;

        width: fit-content;
      }

      a {
        color: #000;
        text-decoration: none;
      }
    }

    .rotate_button {
      figure {
        span {
          border: 5px solid #000;
        }

        span:nth-child(1) {
          color: #000;
        }

        span:nth-child(2) {
          background: #000;
          color: #a696c8;
        }
      }
    }
  }

  .logo-container {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      width: 400px;

      @media (max-height: 400px) {
        width: 180px !important;
      }
    }

    .header {
      color: #000;
      font-family: 'Open Sans', 'Condensed';
      font-size: 50px;
      font-weight: 600;
      text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 8px;
      text-transform: uppercase;
      z-index: 100;
    }

    .paragraph {
      background: #000;
      color: #a696c8;

      font-family: 'Hammersmith One', sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 30px;
      padding: 5px 20px;
      z-index: 100;
    }
  }

  .arrow {
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    height: 80px;
    margin: auto;
    position: relative;
    width: 80px;
  }

  .show {
    background-image: url('#{$img-path}/down-arrow.svg');
  }

  .hide {
    background-image: url('#{$img-path}/cancel.svg');
  }

  @media (max-width: 850px) {
    .technologies {
      background-image: url('#{$img-path}/arcbazar/arcbazar-mobile.png') !important;
      height: 220px !important;
      width: 350px !important;
    }
  }

  @media (max-width: 500px) {
    .technologies {
      background-image: url('#{$img-path}/arcbazar/arcbazar-mobile.png') !important;
      height: 150px !important;
      width: 250px !important;
    }

    .technologies-container {
      .description {
        p {
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }
      }
    }

    .logo-container {
      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}
