
.Arcbazar {

  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .technologies-container {

    .technologies {

        width: 700px;
        height: 100px;
        background-image: url(#{$img-path}/arcbazar/arcbazar-desktop.png);

        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }

    .description {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .first {
        margin-top: 40px;
      }

      .last {
        margin-bottom: 10px;
      }

      p {

        padding-top: 5px;
        padding-bottom: 5px;

        font-family: 'Hammersmith One', sans-serif;
        line-height: 28px;

        max-width: 600px;
        font-size: 18px;

        padding-left: 20px;
        padding-right: 20px;
        color: black;
        text-align: center;
        font-weight: normal;

        width: fit-content;

        margin-top: 0px;
        margin-bottom: 0px;

      }
      a {
        color: black;
        text-decoration: none;
      }
    }
    .rotate_button {
      figure {

        span {

          border: 5px solid black;

        }
        span:nth-child(1) {
          color: black;
        }
        span:nth-child(2) {
          color: #a696c8;
          background: black;
        }

      }
    }

  }
  .logo-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 400px;
      @media (max-height: 400px) {
        width: 180px !important;
      }
    }

    .header {
      font-family: 'Open Sans', 'Condensed';
      text-transform: uppercase;
      color: black;
      font-size: 50px;
      font-weight: 600;
      z-index: 100;
      text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 8px;
    }
    .paragraph {

      background: black;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;

      font-family: 'Hammersmith One', sans-serif;
      font-size: 20px;
      color: #a696c8;
      letter-spacing: 0.62px;
      line-height: 30px;
      font-weight: 300;
      z-index: 100;
    }
  }
  .arrow {
    display: block;
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    position: relative;
  }
  .show {
    background-image: url(#{$img-path}/down-arrow.svg);
  }
  .hide {
    background-image: url(#{$img-path}/cancel.svg);
  }

  @media (max-width: 850px) {
    .technologies {

      width: 350px !important;
      height: 220px !important;
      background-image: url(#{$img-path}/arcbazar/arcbazar-mobile.png) !important;

    }
  }

  @media (max-width: 500px) {

    .technologies {

      width: 250px !important;
      height: 150px !important;
      background-image: url(#{$img-path}/arcbazar/arcbazar-mobile.png) !important;

    }

    .technologies-container {

      .description {

        p {

          margin-top: 0 !important;
          margin-bottom: 0px !important;
        }

      }

    }

    .logo-container {
      img {

        width: 100%;
        max-width: 300px;

      }

    }

  }

}

