$mainColor: #002877;

.C2Corner {
  background: #39f;

  .technologies-container {
    .technologies {
      background-image: url('#{$portfolio-img-path}/c2corner/c2corner-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
      height: 100px;
      width: 900px;
    }

    .description {
      max-width: 900px;

      p {
        color: $mainColor;
        font-family: 'Alfa Slab One', cursive;
        font-size: 20px;
        max-width: 900px;
        text-align: center;
        margin: 10px 80px 15px 80px;
        line-height: 35px;
      }
    }

    .rotate_button {
      figure {
        span {
          border: 5px solid $mainColor;
        }

        span:nth-child(1) {
          color: $mainColor;
        }

        span:nth-child(2) {
          background: transparent;
          color: $mainColor;
        }
      }
    }
  }

  .logo-container {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .logoText {
      color: $mainColor;
      font-family: 'Alfa Slab One', cursive;
      font-size: 70px;
      line-height: 0;
      text-shadow: #36c 4px 4px 0;
      z-index: 100;
      margin: 60px 0 50px 0;
    }

    .header {
      color: #fff;
      font-family: 'Open Sans', 'Condensed';
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      z-index: 100;
    }

    .paragraph {
      color: $mainColor;
      font-family: 'Alfa Slab One', cursive;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 30px;
      max-width: 700px;
      text-align: center;
      z-index: 100;
      margin: 0;
    }
  }

  .arrow {
    background-image: url('#{$portfolio-img-path}/c2corner/arrow-down.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    height: 80px;
    width: 80px;
    margin-top: 45px;
  }

  .show {
    background-image: url('#{$portfolio-img-path}/c2corner/arrow-down.svg');
  }

  .hide {
    background-image: url('#{$portfolio-img-path}/c2corner/arrow-up.svg');
  }

  @media (max-width: 850px) {
    .technologies {
      background-image: url('#{$portfolio-img-path}/c2corner/c2corner-mobile.png') !important;
      height: 220px !important;
      width: 350px !important;
    }
  }

  @media (max-width: 500px) {
    .technologies {
      background-image: url('#{$portfolio-img-path}/c2corner/c2corner-mobile.png') !important;
      height: 150px !important;
      width: 250px !important;
    }
  }
}
