
.History24 {

  background: black;

  .technologies-container {

    .technologies {

      width: 900px;
      height: 100px;
      background-image: url(#{$img-path}/history/history-desktop.png);

      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

    }

    .description {

      max-width: 800px !important;

      p {
        font-family: 'Luckiest Guy', cursive;
        max-width: 800px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        text-align: center;
        font-weight: 100;
        line-height: 30px;

      }
    }
    .rotate_button {

      //figure {
      //
      //  span {
      //
      //    border: 5px solid white;;
      //
      //  }
      //  span:nth-child(1) {
      //    color: white;;
      //  }
      //  span:nth-child(2) {
      //    color: white;
      //    background: transparent;
      //  }
      //
      //}
      display: none;
    }

  }
  .logo-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 300px;
      -webkit-filter: drop-shadow(0px 0px 15px black);
      filter: drop-shadow(0px 0px 15px black);
    }

    .header{
      font-family: 'Luckiest Guy', cursive;
      text-transform: uppercase;
      color: white;
      font-size: 50px;
      z-index: 100;
      text-align: center;
      @media (max-height: 400px) {
        font-size: 30px;
      }
    }
    .paragraph{
      font-family: 'Luckiest Guy', cursive;
      font-size: 20px;
      color: white;
      letter-spacing: 0.62px;
      line-height: 30px;
      font-weight: 300;
      text-align: center;
      z-index: 100;
    }
  }
  .arrow {
    display: block;
    background-image: url(#{$img-path}/down-arrow_white.svg);
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 15px black);
    filter: drop-shadow(0px 0px 15px black);
  }
  .show{
    background-image: url(#{$img-path}/down-arrow_white.svg);
  }
  .hide{
    background-image: url(#{$img-path}/cancel_white.svg);
  }


  @media (max-width: 850px) {
    .technologies {

      width: 350px !important;
      height: 220px !important;
      background-image: url(#{$img-path}/history/history-mobile.png) !important;

    }
  }

  @media (max-width: 500px) {


    .logo-container {

      img {

        max-width: 200px;

      }
      .header{
        font-size: 36px !important;
        text-align: center;
      }

    }

    .technologies-container {

      .description {

        p span{

          display: none;

        }

      }

      .technologies {

        width: 250px !important;
        height: 150px !important;
        background-image: url(#{$img-path}/history/history-mobile.png) !important;

      }

    }


  }

}


