.History24 {
  background: #000;

  .technologies-container {
    .technologies {
      background-image: url('#{$portfolio-img-path}/history/history-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
      height: 100px;
      width: 900px;
    }

    .description {
      max-width: 800px !important;

      p {
        color: #fff;
        font-family: 'Luckiest Guy', cursive;
        font-size: 23px;
        font-weight: 100;
        line-height: 32px;
        margin: 10px 0 0 0;
        max-width: 800px;
        text-align: center;
        letter-spacing: 1px;
      }
    }

    .rotate_button {
      display: none;
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      -webkit-filter: drop-shadow(0 0 15px #000);
      filter: drop-shadow(0 0 15px #000);
      width: 300px;
    }

    .header-container {
      margin: 20px 0 0 0 !important;
      max-width: 460px !important;
    }

    .header {
      color: #fff;
      font-family: 'Luckiest Guy', cursive;
      font-size: 70px;
      text-align: center;
      text-transform: uppercase;
      z-index: 100;
      margin-bottom: 5px;
      letter-spacing: 1px;

      @media (max-height: 400px) {
        font-size: 30px;
      }
    }

    .paragraph {
      color: #fff;
      font-family: 'Luckiest Guy', cursive;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 35px;
      text-align: center;
      z-index: 100;
    }
  }

  .arrow {
    background-image: url('#{$portfolio-img-path}/down-arrow_white.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    -webkit-filter: drop-shadow(0 0 15px #000);
    filter: drop-shadow(0 0 15px #000);
    height: 80px;
    width: 80px;
    margin-top: 45px;
  }

  .show {
    background-image: url('#{$portfolio-img-path}/down-arrow_white.svg');
  }

  .hide {
    background-image: url('#{$portfolio-img-path}/cancel_white.svg');
  }

  @media (max-width: 850px) {
    .technologies {
      background-image: url('#{$portfolio-img-path}/history/history-mobile.png') !important;
      height: 220px !important;
      width: 350px !important;
    }
  }

  @media (max-width: 500px) {
    .logo-container {
      img {
        max-width: 200px;
      }

      .header {
        font-size: 36px !important;
        text-align: center;
      }
    }

    .technologies-container {
      .description {
        p span {
          display: none;
        }
      }

      .technologies {
        background-image: url('#{$portfolio-img-path}/history/history-mobile.png') !important;
        height: 150px !important;
        width: 250px !important;
      }
    }
  }
}
