.Houses {
  background-image: url('#{$img-path}/city.jpg');

  background-size: cover;

  .technologies-container {
    .technologies {
      background-image: url('#{$img-path}/houses/houses-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
      height: 100px;
      width: 700px;
    }

    .description {
      p {
        color: #fff;
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
        font-family: 'Alfa Slab One', cursive;
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }

    .rotate_button {
      //figure {
      //
      //  span {
      //
      //    border: 5px solid white;;
      //
      //  }
      //  span:nth-child(1) {
      //    color: #ffffff;;
      //  }
      //  span:nth-child(2) {
      //    color: #ffffff;
      //    background: transparent;
      //  }
      //
      //}

      display: none;
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logoText {
      color: #fff;
      font-family: 'Alfa Slab One', cursive;
      font-size: 65px;
      line-height: 0;
      text-shadow: #000 4px 4px 0;
      z-index: 100;
    }

    .header {
      color: #fff;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
      font-family: 'Open Sans', 'Condensed';
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      z-index: 100;
    }

    .paragraph {
      color: #fff;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
      font-family: 'Alfa Slab One', cursive;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 30px;
      text-align: center;
      z-index: 100;
    }
  }

  .arrow {
    background-image: url('#{$img-path}/down-arrow_white.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    -webkit-filter: drop-shadow(0 0 15px #000);
    filter: drop-shadow(0 0 15px #000);
    height: 80px;
    margin: auto;
    width: 80px;
  }

  .show {
    background-image: url('#{$img-path}/down-arrow_white.svg');
  }

  .hide {
    background-image: url('#{$img-path}/cancel_white.svg');
  }

  @media (max-width: 850px) {
    .technologies {
      background-image: url('#{$img-path}/houses/houses-mobile.png') !important;
      height: 220px !important;
      width: 350px !important;
    }
  }

  @media (max-width: 500px) {
    .technologies {
      background-image: url('#{$img-path}/houses/houses-mobile.png') !important;
      height: 150px !important;
      width: 250px !important;
    }
  }
}
