.linkful {
  background: hsla(260, 40%, 5%, 1);
  a {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  .linkful-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 10000;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      -webkit-filter: drop-shadow(0 0 15px #b9edf8);
      filter: drop-shadow(0 0 3px #b9edf8);
      height: 50px;
      width: 50px;
    }

    .arrow-up {
      background-image: url('#{$img-path}/linkful/arrow-up.svg');
    }

    .arrow-down {
      background-image: url('#{$img-path}/linkful/arrow-down.svg');
    }

    .description {
      color: #a3daff;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 400px;
      text-align: center;
      text-shadow: #b9edf8 0 0 5px;
    }

    .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .logo {
        background-image: url('#{$img-path}/linkful/logo-color.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-filter: drop-shadow(0 0 15px #b9edf8);
        filter: drop-shadow(0 0 3px #b9edf8);
        height: 200px;
        opacity: 0.9;
        width: 200px;
      }
    }

    .d-flex {
      display: flex;
    }

    .d-none {
      display: none;
    }

    .info-container {
      align-items: center;
      color: #a3daff;
      flex-direction: column;

      font-family: Roboto, sans-serif;
      font-size: 20px;
      justify-content: center;
      max-width: 400px;
      min-height: 200px;
      text-align: justify;
      text-shadow: #b9edf8 0 0 5px;
      width: 100%;
      z-index: 10000;
    }

    .tzie-small {
      font-size: 15px !important;
    }

    .tech-container {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 200px;
      width: 100%;
      z-index: 10000;

      .row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 550px;

        div {
          background-image: url('#{$img-path}/linkful/linkful.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 200px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .linkful {
    .info-container {
      max-width: 300px !important;
    }

    .description {
      font-size: 16px !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      max-width: 350px !important;
    }

    .header {
      .logo {
        height: 150px !important;
        width: 150px !important;
      }
    }

    .row {
      width: 400px !important;
    }
  }
}

@media (max-width: 530px) {
  .linkful {
    .row {
      width: 300px !important;
    }
  }
}

@media (max-width: 400px) {
  .linkful {
    .info-container {
      max-width: 250px !important;
    }

    .row {
      width: 240px !important;
    }
  }
}
