@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

$baseColor: #eec60a;
$secondColor: #000;

.neocore {
  background: #000;

  a {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  .neocore-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 10000;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 50px;
      width: 50px;
    }

    .arrow-up {
      background-image: url('#{$portfolio-img-path}/neocore/arrow-up.svg');
    }

    .arrow-down {
      background-image: url('#{$portfolio-img-path}/neocore/arrow-down.svg');
    }

    .description {
      color: $baseColor;
      font-family: 'Luckiest Guy', cursive;
      font-size: 40px;
      line-height: 1;
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 400px;
      text-align: center;
      text-shadow: $secondColor 4px 4px 0;
      z-index: 100;
    }

    .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .logo {
        background-image: url('#{$portfolio-img-path}/neocore/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        width: 200px;
      }
    }

    .d-flex {
      display: flex;
    }

    .d-none {
      display: none;
    }

    .info-container {
      align-items: center;
      color: $baseColor;
      flex-direction: column;

      font-family: Roboto, sans-serif;
      font-size: 20px;
      line-height: 27px;
      justify-content: center;
      max-width: 430px;
      min-height: 150px;
      text-align: justify;
      width: 100%;
      z-index: 10000;
      margin-top: 22px;
    }

    .tzie-small {
      font-size: 18px !important;
    }

    .tech-container {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 150px;
      width: 100%;
      z-index: 10000;

      .row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;

        div {
          background-image: url('#{$portfolio-img-path}/neocore/neocore_skills.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 150px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .neocore {
    .info-container {
      max-width: 300px !important;
    }

    .description {
      font-size: 32px !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      max-width: 350px !important;
    }

    .row {
      width: 400px !important;
    }

    .logo {
      height: 140px !important;
      width: 140px !important;
    }
  }
}

@media (max-width: 530px) {
  .neocore {
    .header {
      .logo {
        font-size: 45px !important;
      }
    }

    .row {
      width: 300px !important;
    }
  }
}

@media (max-width: 400px) {
  .neocore {
    .info-container {
      max-width: 250px !important;
    }

    .row {
      width: 200px !important;
    }
  }
}
