@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

$baseColor: #eec60a;
$secondColor: black;

.neocore {

  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  background: black;

  .neocore-container {

    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .arrow-up {
      background-image: url(#{$img-path}/neocore/arrow-up.svg);
    }

    .arrow-down {
      background-image: url(#{$img-path}/neocore/arrow-down.svg);
    }

    .description {

      max-width: 400px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      z-index: 100;

      color: $baseColor;
      text-shadow: $secondColor 4px 4px 0px;
      font-size: 40px;
      font-family: 'Luckiest Guy', cursive;
      line-height: 1;

    }

    .header {

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        background-image: url(#{$img-path}/neocore/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;

      }

    }

    .d-flex {
      display: flex;
    }

    .d-none {
      display: none;
    }

    .info-container {
      width: 100%;
      min-height: 300px;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-family: Roboto, sans-serif;
      font-size: 20px;
      max-width: 400px;
      text-align: justify;
      color: $baseColor;


    }

    .tzie-small {
      font-size: 18px !important;
    }

    .tech-container {

      width: 100%;
      min-height: 300px;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .row {

        display: flex;
        flex-direction: row;
        width: 600px;
        align-items: center;
        justify-content: space-between;

        div {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 200px;
          background-image: url(#{$img-path}/neocore/neocore_skills.png);
        }


      }
    }
  }

}

@media (max-width: 650px) {
  .neocore {

    .info-container {
      max-width: 300px !important;
    }

    .description {
      font-size: 32px !important;
      max-width: 350px !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }

    .row {

      width: 400px !important;

    }

    .logo {
      width: 140px !important;
      height: 140px !important;
    }

  }
}

@media (max-width: 530px) {
  .neocore {

    .header {

      .logo {

        font-size: 45px !important;

      }
    }

    .row {

      width: 30px !important;

      div {
        background-image: url(#{$img-path}/neocore/neocore_skills_sm.png) !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .neocore {

    .info-container {
      max-width: 250px !important;
    }

    .row {

      width: 200px !important;

    }
  }
}