.Smoke_Zone {
  background: #000;

  .technologies-container {
    .technologies {
      div div {
        background-size: contain !important;
      }

      div:nth-child(1) {
        div:nth-child(1) {
          background-image: url('#{$img-path}/smoke-zone/apache.png');
          background-size: 150px;
          height: 150px;
          width: 150px;
        }

        div:nth-child(2) {
          background-image: url('#{$img-path}/smoke-zone/javascript.svg');
        }

        div:nth-child(3) {
          background-image: url('#{$img-path}/smoke-zone/jq.svg');
        }
      }

      div:nth-child(2) {
        div:nth-child(1) {
          background-image: url('#{$img-path}/smoke-zone/mvc.svg');
        }

        div:nth-child(2) {
          background-image: url('#{$img-path}/smoke-zone/mysql.svg');
        }

        div:nth-child(3) {
          background-image: url('#{$img-path}/smoke-zone/php.svg');
        }
      }
    }

    .description {
      p {
        color: #c80085;
        font-family: 'Roboto';
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }

    .rotate_button {
      //figure {
      //
      //  span {
      //
      //    border: 5px solid #C80085;;
      //
      //  }
      //  span:nth-child(1) {
      //    color: #C80085;;
      //  }
      //  span:nth-child(2) {
      //    color: #C80085;
      //    background: transparent;
      //  }
      //
      //}

      display: none;
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      -webkit-filter: drop-shadow(0 0 15px #9937ac);
      filter: drop-shadow(0 0 15px #9937ac);
      width: 300px;
    }

    .header {
      color: #fff;
      font-family: 'OpenSans';
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 0;
      text-align: center;
      text-shadow: rgb(153, 55, 172) 5px 5px 8px;
      text-transform: uppercase;
      z-index: 100;

      @media (max-height: 400px) {
        font-size: 30px;
      }
    }

    .paragraph {
      color: #c80085;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 30px;
      margin-top: 0;
      text-align: center;
      z-index: 100;
    }
  }

  .arrow {
    background-image: url('#{$img-path}/down-arrow_white.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    -webkit-filter: drop-shadow(0 0 15px #9937ac);
    filter: drop-shadow(0 0 15px #9937ac);
    height: 80px;
    margin: auto;
    width: 80px;
  }

  .show {
    background-image: url('#{$img-path}/down-arrow_white.svg');
  }

  .hide {
    background-image: url('#{$img-path}/cancel_white.svg');
  }
}

@media (max-width: 500px) {
  .Smoke_Zone {
    .logo-container {
      img {
        max-width: 200px;
      }

      .header {
        font-size: 36px !important;
        text-align: center;
      }
    }

    .technologies-container {
      .description {
        p span {
          display: none;
        }
      }

      .technologies {
        flex-direction: column;
        margin-bottom: 50px;

        div div {
          height: 50px !important;
          width: 50px !important;
        }

        div:nth-child(1) {
          div:nth-child(1) {
            height: 100px !important;
            width: 100px !important;
          }
        }
      }
    }
  }
}
