
.Smoke_Zone {

  background: black;

  .technologies-container {

    .technologies {

      div div{
        background-size: contain !important;
      }

      div:nth-child(1) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/smoke-zone/apache.png);
          background-size: 150px ;
          width: 150px ;
          height: 150px ;
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/smoke-zone/javascript.svg);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/smoke-zone/jq.svg);
        }
      }
      div:nth-child(2) {
        div:nth-child(1) {
          background-image: url(#{$img-path}/smoke-zone/mvc.svg);
        }
        div:nth-child(2) {
          background-image: url(#{$img-path}/smoke-zone/mysql.svg);
        }
        div:nth-child(3) {
          background-image: url(#{$img-path}/smoke-zone/php.svg);
        }
      }
    }

    .description {

      p {
        font-family: 'Roboto';
        max-width: 600px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #C80085;
        text-align: center;

      }
    }
    .rotate_button {

      //figure {
      //
      //  span {
      //
      //    border: 5px solid #C80085;;
      //
      //  }
      //  span:nth-child(1) {
      //    color: #C80085;;
      //  }
      //  span:nth-child(2) {
      //    color: #C80085;
      //    background: transparent;
      //  }
      //
      //}

      display: none;

    }

  }
  .logo-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 300px;
      -webkit-filter: drop-shadow(0px 0px 15px #9937AC);
      filter: drop-shadow(0px 0px 15px #9937AC);
    }

    .header{
      font-family: 'OpenSans';
      text-transform: uppercase;
      color: white;
      font-size: 50px;
      font-weight: 600;
      text-shadow: rgb(153, 55, 172) 5px 5px 8px;
      z-index: 100;
      margin-bottom: 0px;
      text-align: center;
      @media (max-height: 400px) {
        font-size: 30px;
      }
    }
    .paragraph{
      font-family: 'Roboto';
      font-size: 20px;
      color: #C80085;
      letter-spacing: 0.62px;
      line-height: 30px;
      font-weight: 300;
      z-index: 100;
      margin-top: 0px;
      text-align: center;
    }
  }
  .arrow {
    display: block;
    background-image: url(#{$img-path}/down-arrow_white.svg);
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 15px #9937AC);
    filter: drop-shadow(0px 0px 15px #9937AC);
  }
  .show{
    background-image: url(#{$img-path}/down-arrow_white.svg);
  }
  .hide{
    background-image: url(#{$img-path}/cancel_white.svg);
  }
}
@media (max-width: 500px) {



  .Smoke_Zone {

    .logo-container {

      img {

        max-width: 200px;

      }
      .header{
        font-size: 36px !important;
        text-align: center;
      }

    }

    .technologies-container {

      .description {

        p span{

          display: none;

        }
      }
      .technologies {
        flex-direction: column;
        margin-bottom: 50px;
        div div {
          width: 50px !important;
          height: 50px !important;
        }
        div:nth-child(1) {
          div:nth-child(1) {
            width: 100px !important;
            height: 100px !important;
          }
        }
      }

    }

  }
}
