.Smoke_Zone {
  background: #000;

  .technologies-container {
    .technologies {
      div {
        div {
          background-size: contain !important;
        }

        &.apache {
          background-image: url('#{$portfolio-img-path}/smoke-zone/apache.png');
          background-size: 150px;
          height: 150px;
          width: 150px;
        }

        &.js {
          background-image: url('#{$portfolio-img-path}/smoke-zone/js.svg');
        }

        &.jq {
          background-image: url('#{$portfolio-img-path}/smoke-zone/jq.svg');
        }

        &.mvc {
          background-image: url('#{$portfolio-img-path}/smoke-zone/mvc.svg');
        }

        &.mysql {
          background-image: url('#{$portfolio-img-path}/smoke-zone/mysql.svg');
        }

        &.php {
          background-image: url('#{$portfolio-img-path}/smoke-zone/php.svg');
        }
      }
    }

    .description {
      p {
        color: #c80085;
        font-family: 'Roboto';
        font-size: 18px;
        margin: 0;
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }

    .rotate_button {
      display: none;
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 200px;
    }

    .header {
      color: #fff;
      font-family: 'OpenSans';
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      text-shadow: rgb(153, 55, 172) 5px 5px 8px;
      text-transform: uppercase;
      z-index: 100;

      @media (max-height: 400px) {
        font-size: 30px;
      }
    }

    .paragraph {
      color: #c80085;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 30px;
      margin-top: 0;
      text-align: center;
      z-index: 100;
    }
  }

  .arrow {
    background-image: url('#{$portfolio-img-path}/down-arrow_white.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    -webkit-filter: drop-shadow(0 0 15px #9937ac);
    filter: drop-shadow(0 0 15px #9937ac);
    height: 80px;
    margin: auto;
    width: 80px;
  }

  .show {
    background-image: url('#{$portfolio-img-path}/down-arrow_white.svg');
  }

  .hide {
    background-image: url('#{$portfolio-img-path}/cancel_white.svg');
  }
}

@media (max-width: 500px) {
  .Smoke_Zone {
    .logo-container {
      img {
        max-width: 200px;
      }

      .header {
        font-size: 32px !important;
        text-align: center;
        margin-bottom: 10px;
      }

      .header-container {
        max-width: 225px;
      }
    }

    .technologies-container {
      .technologies {
        flex-direction: column;
        margin-bottom: 10px;

        div div {
          height: 50px !important;
          width: 50px !important;
        }
      }

      .description {
        margin-bottom: 0;
      }
    }
  }
}
