
.smsplaza {

  .frame {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
  }

  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  background: hsla(260, 40%, 5%, 1);

  .smspalza-container {

    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .arrow-up {
      background-image: url(#{$img-path}/smsplaza/arrow-up.svg);
    }

    .arrow-down {
      background-image: url(#{$img-path}/smsplaza/arrow-down.svg);
    }

    .description {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      max-width: 400px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #41B883;
    }

    .header {

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        color: #41B883;
        text-shadow: #36495D 4px 4px 0px;
        z-index: 100;
        font-size: 65px;
        font-family: 'Luckiest Guy', cursive;
        line-height: 1;
      }

    }

    .d-flex {
      display: flex;
    }
    .d-none {
      display: none;
    }

    .info-container {
      width: 100%;
      min-height: 300px;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-family: Roboto, sans-serif;
      font-size: 20px;
      max-width: 400px;
      text-align: justify;
      color: #41B883;

    }
    .tzie-small {
      font-size: 18px !important;
    }
    .tech-container {

      width: 100%;
      min-height: 300px;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .row {

        display: flex;
        flex-direction: row;
        width: 300px;
        align-items: center;
        justify-content: space-between;

        div {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 300px;
          background-image: url(#{$img-path}/smsplaza/smsplaza.png);
        }

      }
    }
  }

}

@media (max-width: 650px) {
  .smsplaza {

    .info-container {
      max-width: 300px !important;
    }
    .description {
      font-size: 16px !important;
      max-width: 350px !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }

    .row {

      width: 200px !important;

    }
  }
}

@media (max-width: 530px) {
  .smsplaza {

    .header {

      .logo {

        font-size: 45px !important;

      }
    }

    .row {

      width: 150px !important;

    }
  }
}

@media (max-width: 400px) {
  .smsplaza {

    .info-container {
      max-width: 250px !important;
    }

    .row {

      width: 240px !important;

    }
  }
}