.smsplaza {
  background: hsla(260, 40%, 5%, 1);

  .frame {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
  }

  a {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  .mt-50 {
    margin-top: 50px !important;
  }

  .smsplaza-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 10000;

    .arrow {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 50px;
      margin-top: 40px;
      width: 50px;
    }

    .arrow-up {
      background-image: url('#{$portfolio-img-path}/smsplaza/arrow-up.svg');
    }

    .arrow-down {
      background-image: url('#{$portfolio-img-path}/smsplaza/arrow-down.svg');
    }

    .description {
      color: #41b883;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 35px;
      margin-top: 15px;
      max-width: 400px;
      text-align: center;
    }

    .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .logo {
        color: #41b883;
        font-family: 'Luckiest Guy', cursive;
        font-size: 65px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        z-index: 100;
      }
    }

    .d-flex {
      display: flex;
    }

    .d-none {
      display: none;
    }

    .info-container {
      align-items: center;
      color: #41b883;
      flex-direction: column;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 25px;
      max-width: 400px;
      min-height: 250px;
      text-align: justify;
      width: 100%;
      z-index: 10000;
    }

    .tzie-small {
      font-size: 18px !important;
    }

    .tech-container {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 250px;
      width: 100%;
      z-index: 10000;

      .row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;

        div {
          background-image: url('#{$portfolio-img-path}/smsplaza/smsplaza.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 250px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-height: 600px) and (min-width: 651px) {
  .smsplaza .smsplaza-container {
    .arrow {
      margin-top: 20px;
    }

    .description {
      margin-bottom: 25px;
    }

    .mt-50 {
      margin: 45px 0 0 !important;
    }
  }
}

@media (max-width: 650px) {
  .smsplaza {
    .info-container {
      max-width: 300px !important;
    }

    .description {
      font-size: 16px !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      max-width: 350px !important;
    }
  }
}

@media (max-width: 530px) {
  .smsplaza {
    .header {
      .logo {
        font-size: 40px !important;
      }
    }

    .smsplaza-container .tech-container {
      min-height: 135px;

      .row div {
        height: 135px;
      }
    }
  }
}

@media (max-width: 400px) {
  .smsplaza {
    .info-container {
      line-height: 18px !important;
      margin-right: 20px;
      max-width: 235px !important;
    }

    .row {
      width: 240px !important;

      div {
        height: 150px;
      }
    }

    .description {
      max-width: 225px !important;
    }

    .smsplaza-container {
      .tzie-small {
        font-size: 15px !important;
      }

      .arrow {
        height: 40px;
        margin-top: 20px;
        width: 40px;
      }
    }
  }
}
