.WellHome {
  background: #fff;

  .technologies-container {
    .technologies {
      background-image: url('#{$portfolio-img-path}/welhome/welhome-desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      display: block;
      height: 100px;
      width: 700px;
    }

    .description {
      p {
        color: #000;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 10px;
        max-width: 600px;
        text-align: center;
        line-height: 32px;
      }

      a {
        color: #000;
        text-decoration: none;
      }
    }

    .rotate_button {
      display: none;
    }
  }

  .logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      width: 400px;
      position: relative;
      top: 50px;
    }

    .header {
      display: none !important;
    }

    .paragraph {
      color: #000;
      font-family: 'Luckiest Guy', cursive;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 30px;
      margin-top: 0 !important;
      z-index: 100;
    }
  }

  .arrow {
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    height: 80px;
    position: relative;
    width: 80px;
    margin-top: 45px;
  }

  .show {
    background-image: url('#{$portfolio-img-path}/down-arrow.svg');
  }

  .hide {
    background-image: url('#{$portfolio-img-path}/cancel.svg');
  }

  @media (max-width: 850px) {
    .technologies {
      background-image: url('#{$portfolio-img-path}/welhome/welhome-mobile.png') !important;
      height: 220px !important;
      width: 350px !important;
    }
  }

  @media (max-width: 500px) {
    .logo-container {
      .header {
        font-size: 36px !important;
        text-align: center;
      }
    }

    .technologies-container {
      .description {
        p span {
          display: none;
        }
      }

      .technologies {
        background-image: url('#{$portfolio-img-path}/welhome/welhome-mobile.png') !important;
        height: 150px !important;
        width: 250px !important;
      }
    }
  }
}
