$yandex-red: #ed2025;

@font-face {
  font-display: swap;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/yandex/YandexSansText-Light.eot');
  src: url('/fonts/yandex/YandexSansText-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/yandex/YandexSansText-Light.woff2') format('woff2'),
    url('/fonts/yandex/YandexSansText-Light.woff') format('woff'),
    url('/fonts/yandex/YandexSansText-Light.ttf') format('truetype'),
    url('/fonts/yandex/YandexSansText-Light.svg#YSText-Light') format('svg');
}

.Yandex {
  background: #ecf0f1;
  p,
  span {
    font-family: 'YS Text';
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
  }

  .technologies-container {
    .technologies {
      background-image: url('#{$portfolio-img-path}/yandex/yandex-desktop.png');
      background-position: center;
      background-repeat: no-repeat;

      background-size: contain;

      display: block;
      height: 100px;
      width: 700px;
    }

    .description {
      p {
        color: #000;
        font-size: 17px;
        line-height: 30px;
        text-align: center;

        b {
          color: $yandex-red;
        }
      }
    }

    .rotate_button {
      figure {
        span {
          border: 5px solid $yandex-red;
        }

        span:nth-child(1) {
          color: #000;
        }

        span:nth-child(2) {
          background: $yandex-red;
          color: #fff;
        }
      }
    }
  }

  .logo-container {
    img {
      width: 300px;
    }

    p {
      color: #000;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.62px;
      line-height: 42px;
      text-align: center;
      z-index: 100;

      b {
        color: $yandex-red;
      }
    }
  }

  .arrow {
    background-image: url('#{$portfolio-img-path}/yandex/down-arrow-red.svg');
    background-position: center;
    background-size: 80px;
    cursor: pointer;
    display: block;
    height: 80px;
    margin: auto;
    width: 80px;
  }

  .show {
    background-image: url('#{$portfolio-img-path}/yandex/down-arrow-red.svg');
  }

  .hide {
    background-image: url('#{$portfolio-img-path}/cancel.svg');
  }

  @media (max-width: 750px) {
    .technologies-container {
      .technologies {
        background-image: url('#{$portfolio-img-path}/yandex/yandex-mobile.png') !important;
        height: 220px !important;
        width: 350px !important;
      }
    }
  }

  @media (max-width: 500px) {
    .technologies-container {
      .technologies {
        background-image: url('#{$portfolio-img-path}/yandex/yandex-mobile.png') !important;
        height: 140px !important;
        width: 250px !important;
      }
    }
  }
}
