$yandex-red : #ED2025;

@font-face {
  font-family: "YS Text";
  src: url("/fonts/yandex/YandexSansText-Light.eot");
  src: url("/fonts/yandex/YandexSansText-Light.eot?#iefix") format("embedded-opentype"),
  url("/fonts/yandex/YandexSansText-Light.woff2") format("woff2"),
  url("/fonts/yandex/YandexSansText-Light.woff") format("woff"),
  url("/fonts/yandex/YandexSansText-Light.ttf") format("truetype"),
  url("/fonts/yandex/YandexSansText-Light.svg#YSText-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.Yandex {
  p,span {
    font-family: "YS Text";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }

  background: #ecf0f1;

  .technologies-container {

    .technologies {

      width: 700px;
      height: 100px;
      background-image: url(#{$img-path}/yandex/yandex-desktop.png);

      display: block;
      background-position: center;
      background-repeat: no-repeat;

      background-size: contain;
    }
    .description {

      p {
        font-size: 17px;
        color: black;
        text-align: center;
        line-height: 30px;
        b {
          color: $yandex-red;
        }
      }
    }
    .rotate_button {

      figure {

        span {

          border: 5px solid $yandex-red;

        }
        span:nth-child(1) {
          color: black;
        }
        span:nth-child(2) {
          color: white;
          background: $yandex-red;
        }

      }

    }

  }
  .logo-container {

    img {
      width: 300px;
    }
    p {
      font-size: 17px;
      color: black;
      letter-spacing: 0.62px;
      line-height: 42px;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      b {
        color: $yandex-red;
      }
    }
  }
  .arrow {
    display: block;
    background-image: url(#{$img-path}/down-arrow-red.svg);
    background-position: center;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
  }
  .show {
    background-image: url(#{$img-path}/down-arrow-red.svg);
  }
  .hide {
    background-image: url(#{$img-path}/cancel.svg);
  }

  @media (max-width: 750px) {



      .technologies-container {

        .technologies {

          width: 350px !important;
          height: 220px !important;
          background-image: url(#{$img-path}/yandex/yandex-mobile.png) !important;

        }

      }

  }


  @media (max-width: 500px) {



    .technologies-container {

      .technologies {

        width: 250px !important;
        height: 140px !important;
        background-image: url(#{$img-path}/yandex/yandex-mobile.png) !important;

      }

    }

  }

}


